# Describe
snippet d [des] describe("...". function() { ... });
	describe("${1:description}", function() {
		${2}
	});${3}
snippet des
	describe("${1:description}", function() {
		${2}
	});${3}

# It
snippet i it("...", function() { ... });...
	it("${1:description}", function() {
		${2}
	});${3}
