define(['jquery', 'underscore', 'backbone', 'models/${1:mymodel}'], function($, _, Backbone, ${2:Model}){
  'use strict';
  return Backbone.Collection.extend({
    model: $2,
    url: '${3:api/}'
  });${4}
});
